.input-form{
  display:block;
  float:left;
  margin-left: 10px;
  margin-top: 10px;
  padding:15px;
  border: 2px #C0C0C0 solid;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 3px #C0C0C0;
  text-align: right;
}

#submit-btn{
  font-size: 24px;
  border-radius: 1px #C0C0C0 solid;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px #C0C0C0;
}
